/* Variables */

:root {
  --basic-red: #fb565a;
  --middle-red: #e74246;
  --dark-red: #d7373b;
  --basic-green: #00ca74;
  --middle-green: #00bc6c;
  --dark-green: #00aa62;
  --basic-gray: #eeeeee;
  --middle-gray: #dfdfdf;
  --dark-gray: #d5d5d5;
  --basic-gray-border: #d7dcde;
  --dark-gray-border: #b4b9bb;
  --basic-yellow: #efc849;
  --middle-yellow: #eab534;
  --dark-yellow: #e5a722;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --additional1-gray: #444444;
  --additional2-gray: #666666;
  --additional-black: #283136;
}

/* как сделать смену прозрачности свг элементов при наведении и клике, я не разобрался ( логотип и кнопки-ссылки) */

/* Global */

.page-body {
  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  /* не понимаю, какое значение выбрать для лайн-хайт */
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.anchor {
  text-decoration: none;
  text-transform: uppercase;
  top: -26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */
/* как сделать функциональный слайдер я не смог понять */
.main-header {
  position: relative;
  background-color: var(--basic-gray);
  padding-top: 74px;
  padding-bottom: 74px;
}

.main-header__container {
  width: 1157px;
  margin: 0 auto;
  position: relative;
}

.main-header-logo {
  display: block;
  position: absolute;
  left: 0;
  top: -27px;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px; /* ? */
  color: var(--basic-black);
  padding-left: 360px;
  padding-right: 360px;
  position: relative;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin-top: -9px;
  /*display: flex;
  margin-left: -30px;*/
  display: grid;
  grid-template-columns: 69px 82px 81px 69px;
  gap: 40px;
}

/*.site-navigation__item {
  margin-left: 30px;}*/

.site-navigation__link {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.cart {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

/* сделал выше, как в барбершопе по аналогии, но не уверен. надо ли, короче: делал только то что понимаю в основном */

/* Slider */

.slider-main {
  background-color: var(--basic-gray);
}

.slider-container {
  width: 1157px;
  min-height: 352px;
  margin: 0 auto;
}

.slider {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-screen {
  display: none;
}

.slider-screen--active {
  display: block;
}

.slider-text-big {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding: 0;
  margin-top: -2px;
  margin-left: -1px;
}

.slider-text-small {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin-top: -29px;
}

.button-slider-button {
  width: 240px;
  height: 50px;
  border-radius: 3px;
  background: var(--basic-red);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

/* Services */

.services-container {
  width: 1157px;
  margin: 0 auto;
}

.services-list {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin-top: -9px;
  /*display: flex;
  margin-left: -30px;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.services-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-text {
  font-size: 16px;
  line-height: 24px;
}
/* как вставить три стмволические картинки, если они не в контектсте хтмл. я не понял ( увы */

.services-button-sites {
  width: 160px;
  height: 50px;
  background: var(--basic-red);
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-button-soft {
  width: 160px;
  height: 50px;
  background: var(--basic-green);
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-button-presentations {
  width: 160px;
  height: 50px;
  background: var(--basic-yellow);
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* About */

.about-container {
  width: 1157px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0;
}

.about-who {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-principles {
  font-size: 16px;
  line-height: 24px;
}

.abouts-work {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-direction-work {
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
}

.about-progress {
  margin: 0 auto;
  grid-column: 2 / 3;
}

.about-promise-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.about-since {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 140px;
  margin-left: 40px;
}

.about-promise {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about-promise-percent {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.about-promise-text {
  font-size: 16px;
  line-height: 18px;
}

/* Projects */

.projects-container {
  width: 1157px;
  margin: 0 auto;
}

.projects {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

/* Footer */

/* не понял, как сделать карту во всю ширмну и по центру */

.footer-container {
  width: 1157px;
  margin: 0 auto;
}

.picture .img-map {
  width: 100%;
  margin: 0 auto;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  }

.social-list {
  list-style-type: none;
  display: grid;
  grid-column: 1fr 1fr 1fr; /* не понимаю, почему соцсети не встали в строчку. не понял видать, как грид внутри грида делать */
  }

.address-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.address-detal {
  font-size: 16px;
  line-height: 18px;
  color: var(--additional2-gray);
}

.address-button {
  width: 219px;
  height: 50px;
  background: var(--basic-red);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.offer-benefit {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.offer-benefit-friends {
  font-size: 16px;
  line-height: 22px;
  color: var(--additional1-gray);
}

/* Modal */

.modal-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.modal-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.modal-mail {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.modal-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.modal-send-button {
  width: 259px;
  height: 50px;
  background: var(--basic-red);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Детально я с модальным окном не разобрался */

/* Catalog Page */

.main-catalog {
  width: 1157px;
  margin: 0 auto;
}

.big-grid {
  display: grid;
  grid-template-areas: "filtres products";
  grid-template-columns: 260px 1fr;
  gap: 50px;
}

.filtres-total {
  grid-area: filtres;
}

.products {
  grid-area: products;
  display: grid;
  grid-template-areas:
    "sort-title sort-types"
    "product-left product-right"
    "pages-list1 pages-list2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  gap: 10px;
}

.sort-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  grid-area: sort-title;
}

.sort-type-main {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  grid-area: sort-types;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pages-list {
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  grid-area: pages-list1;
}

.title-shop {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-gray);
  min-height: 50px;
  /* margin: 0 auto; */
  margin-top: 100px;
  display: block;
  text-align: center;
}

.price {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.grid-type {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;

}

.grid-type-radio {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--additional-black);
  text-align: left;

}

.specific-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.specifics {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.limit {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.button-show {
  width: 260px;
  height: 50px;
  border-radius: 3px;
  background: var(--basic-gray);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  margin-bottom: 140px;
}

.next-page {
  width: 260px;
  height: 50px;
  background: var(--basic-gray);
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  grid-area: pages-list2;
}

.showcase-right {
  grid-area: product-right;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.showcase-left {
  grid-area: product-left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* строки 610 - 622 - (строки 109-117 в html) - разбивка катрочек товаров на 2 колонки.
Не знаю, допустимо ли так дробить список в угоду сетке */
